<p>pagina1 works!</p>
<input type="text" placeholder="hola mundo"
        [(ngModel)]="nombre">

<button (click)="guardar()">Click</button>
<br>
{{nombre }}


<app-muestra-nombre nombre="YOP"
                    [nombreCambio]="nombre"></app-muestra-nombre>

<h1>Segundos: {{ segundos }}</h1>                    